@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
*{
    font-family: "fantasy";
}
body{
    background-color: cadetblue;

}
h1{
    width: fit-content;
    background-color: hsl(200, 83%, 26%);
    margin: 40px auto;
    border-radius: 60px;
    padding: 20px 30px;
}

/* PANTALLA INICIO */
#pantalla-inicial{
    display: block;
    text-align: center;
    font-size: 30px;
}

.btn{
    border: none;
    background: #580078;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    cursor:pointer;
    transition: 0s;
}




/* PANTALLA juego */
#pantalla-juego{
    display: none;
}
.pantalla-juego{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
.pantalla-juego img{
    max-width: 400px;
    max-height: 400px;
    width: 100%;
}
.opciones{
    max-width: 400px;
    margin: auto;
}
.opcion{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
    cursor: pointer;
}
.opcion .letra{
    background-color: hsl(254, 100%, 24%);
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    border: 5px solid hsl(232, 46%, 41%);
    position: relative;
}
.opcion .nombre{
    background: #fff;
    width: 100%;
    font-size: 25px;
    position: absolute;
    margin-left: 30px;
    z-index: -2;
    border-radius: 0 20px 20px 0;
    padding: 7px 0 7px 30px;
}
/* clases que se aplicará cuando haya acertada la opcion  */
.opcion .nombreAcertada{
    background-color: rgba(153, 205, 50, 0.898);
    color: #fff;
}
.opcion .letraAcertada{
    background-color: rgba(153, 205, 50, 0.898);
    color: #fff ;
}
/* clases que se aplicaran cuando se equivoque en la opcion elegida */
.opcion .nombreNoAcertada{
    background-color: rgb(139, 0, 9);
    color: #fff;
}
.opcion .letraNoAcertada{
    background-color:  rgb(139, 0, 9);
    color: #fff;
}
/* PANTALLA final */
#pantalla-final{
    display: none;
    text-align: center;
}
#pantalla-final #numCorrectas{
    background-color: chartreuse;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
}
#pantalla-final #numIncorrectas{
    background-color: darkred;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #fff;
}
